body,
html{
	min-height:100%;
}

body{
	background-image:url(../Assets/aboutcover.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
#aboutTitle{
	color: white;
	font-family: "Helvetica", Times, serif;
	position: absolute;
	left:50%;
	animation: fadeIn 3s;
	}	
.aboutporter{
	text-indent: -999999px;
	background: url(../Assets/porter300.jpg);
	width: 300px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left:10%;
	bottom:200px;
	border-radius: 150px;
	padding: 20px; 
	width: 250px;
	height: 250px;
	animation: fadeIn 3s;
	}
.abouttext{
	color: white;
	font-family: "Helvetica", Times, serif;
	position: absolute;
	left:35%;
	animation: fadeIn 3s;
	bottom: 290px;
	left:35%;
	}
	.HomeButton{
	color: black;
	background-color: #FFF0F5;
	font-family: "Helvetica", Times, serif;
	position: absolute;
	animation: fadeIn 3s;
	font-size: 20px;
	}	

	.TourButton{
	color: black;
	background-color: #FFF0F5;
	top:100px;
	font-family: "Helvetica", Times, serif;
	position: absolute;
	font-size: 20px;
	animation: fadeIn 3s;
	}

	.StoreButton{
	color: black;
	top:60px;
	font-size: 20px;
	background-color: #FFF0F5;
	font-family: "Helvetica", Times, serif;
	position: absolute;
	animation: fadeIn 3s;
	}	
@keyframes fadeIn{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
